<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyTvShows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C81EEE01E2787E300137D76</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>9C81EEF91E2787E400137D76</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>9C81EF041E2787E400137D76</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
